<div class="display-table">
  <div class="display-table-cell">
    <div class="auth-block">
      <h3>Reset Password</h3>
      <div class="form-group">
        <input type="email" name="email" id="email" placeholder="Correo Electronico" class="form-control" #passwordReset required>
      </div>
      <div class="form-group">
        <input type="submit" value="Reset Password" class="btn btn-primary" (click)="authService.ForgotPassword(passwordReset.value)">
      </div>
    </div>
    <div class="redirect-to-login">
      <span>Regresa a <span class="redirect" routerLink="/sign-in">Ingresar</span></span>
    </div>
  </div>
</div>